.login-container {
    display: flex !important ;
    flex-direction: column !important ;
    align-items: center !important ;
     gap: 20px !important ;
    width: 50% !important ;
    height: 100vh !important ;
    margin: auto !important ;
    border: #AEC9AB 1px solid !important ;
    border-radius: 15px !important;
}

.login-title {
    text-align: center !important;
    margin-top: 50px !important;
    font-size: 30px !important;
    font-weight: 500 !important;
}

.login-form {

    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.login-image{
    width: 40%;
    margin-left: 30%;
}

.login-section2 {
    width: 60%;
    text-align: right !important;
    margin-top: 115px;
}



.login-input {
    text-align: right !important;
    width: 350px !important;
    height: 55px;
    top: 585px;
    left: 299px;
    padding: 20px 18px 20px 250px;
    gap: 0px;
    border-radius: 25px !important;
    opacity: 0px;
    border: none !important;
    

}

.forget-pass {
    font-size: 18px ;
    font-weight: 600 ;
    margin-top: 20px ;
    display: block;
    color: white;
    text-decoration: none;
}

.login-sub {
    width: 90% !important;
    padding: 15px 0!important;
    gap: 20px !important;
    border-radius: 10px !important;
    border: none !important;
    background: #C7E9C3 !important;
    margin: 10px auto  !important;
    display: block !important;
    color: black !important;
    font-size: 20px !important;
    transition: .5s;
    text-align: center !important;
    text-decoration: none;
}

.login-sub:hover {
    background: #8ebeac !important;
}

.new-accCon {
    background: #C9E1FF;
    margin-top: 25px;
    text-align: center;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    border-radius: 15px;
    transition: .5s;
}

.new-acc {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 100%;
    font-weight: 600;
    color: #000 !important;
}

@media (max-width: 768px) {
    .login-container {
        width: 80% !important;
    }

    .login-title {
        font-size: 24px !important;
    }

    .login-input {
        width: 90% !important;
        padding: 30px;
    }

    .login-section2 {
        width: 100%;
        margin-top: 50px;
    }

    .login-sub {
        font-size: 18px !important;
        padding: 12px 0 !important;
    }

    .new-accCon {
        width: 80%;
    }

    .new-acc {
        font-size: 16px;
    }

    .loginres {
        width: 80%;
    }
    .login-container {
        
        border: unset !important ;
    }
    
}

@media (max-width: 480px) {
    .login-container {
        width: 90% !important;
    }

    .login-title {
        font-size: 20px !important;
    }

    .login-input {
        width: 100% !important;
    }

    .login-sub {
        font-size: 16px !important;
    }

    .new-accCon {
        width: 90%;
    }
    .loginres {
        width: 80%;
    }
}
 
 


 