.Salarydetails{  width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto !important;
    margin-top: 100px !important;
}

.form-Salarydetails{  display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 200px;
    direction: var(--translate-direction) !important;
}

.form2-Salarydetails{margin-top: 50px;}

.btn-next{display: flex; justify-content: center; align-items: center; margin-top: 20px;}

.Salary_Details{ 
     text-align: center;
    }

.tablesal{margin-top: 24px; width: 70%; margin-bottom: 10px;}

 .Salary_Details span{margin-bottom: 10px;
     font-weight: bold; 
     font-size: 20px;}

 .form-Salary_Details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

 }