.Warehousereport{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    direction: var(--translate-direction) !important;

}

.warehouse-report{
    margin: 25px auto;
    width: 80%;
}


 .small-modall .modal-dialog{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
.small-modall .modal-content{
      display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.small-modall .modal-body{
    width: 80%;
    

}

.small-modall .modal-header{
    width: 100%;
}

.small-modall .modal-footer{
    width: 100%;

}