.salesinvoice {
  width: 80%;
  margin: auto;
}

.salesinvoiceForm {
  direction: var(--translate-direction);
  margin-top: 2%;
  padding: 20px;
}

.paymentMethod1 {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}

.radio-cash {
  border-color: var(--border-color);
  background-color: var(--background-color) !important;
  font-size: 18px;
  direction: ltr;
  margin-left: 5px;
}

.fixedInfo {
  /* width: 50%; */
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  gap: 20px;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

@media (max-width: 723px) {
  label.fixedInfoLable {
    width: 115px;
  }
}

label.fixedInfoLable {
  padding-left: 10px;
}

.fixedDate {
  width: 167px;
}

.fixedInput {
  background: transparent;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  padding: 2px;
}

.fixedDate {
  position: relative;
}

.fixedDate::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.fixedDate::-ms-expand {
  display: none;
}

.fixedDate::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.salesinvoiceInfo {
  display: flex;

  justify-content: flex-start;

  margin-bottom: 1%;
  flex-wrap: wrap;
  gap: 15px;
}

.Invoicesinput {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  direction: var(--translate-direction);

}

.addrowInvoice {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1%;
  width: 120px;
}

.clearRowBtn {
  background-color: var(--btn-trash);
  color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.clearRowBtn:hover {
  /* background-color: #054A50; */
  background-color: var(--btn-hovertrash);
}

.amountinvoice {
  background-color: transparent;
  border-radius: 20px;
  color: var(--text-color);
  font-family: "cairo";
  border: 3px solid var(--border-color);
  width: 78px;
  text-align: center;
  padding: 6px;
  margin-bottom: 7px;
  
}
.amountinvoice:focus{
  outline: none;
}

.invoicetable-tbody {
  text-align: center;
}

.chooseacount {
  width: 100%;
  margin: auto;
  margin-top: 1%;
}

.chooseaccountrow {
  display: flex;
  align-items: center;
  justify-content:space-around;
  /* gap: 200px; */

}
 

.InvoiceButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.salesinvoice {
  width: 80%;
  margin: auto;
  overflow-x: auto;
}

.invoicetable {
  text-align: center;
  margin: auto;
  display: block;
   direction: var(--translate-direction);
  max-width: 100%;
 }
 

.invoicetable th,
.invoicetable td {
  padding: 2%;
}

.invoicetable th {
  width: 218px;
  background: var(--vouchertable-background);
  color: var(--text-color);
  border-bottom: var(--vouchertable-border);
  border-top: var(--vouchertable-border);
}

.invoicetable td {
  padding: 20px;
  text-align: center;
  width: 200px;
  background: var(--paymentTable--background);
}

/* 
.css-b62m3t-container {
  width: 150px;
} */

.invoiceTableContainer {
  display: flex;
  direction: var(--translate-direction);

}

.chooseaccountrow {
  margin-top: 20px;
  direction: var(--translate-direction);

}

.input-nsba {
  width: 80%;
}

.anbnab {
  display: flex;
  justify-content: flex-start;
  gap: 300;
}

.Slect-hh {
  width: 157px;
}

.eerr-acc {
  width: 25%;
}

.eerr-sap {
  width: 20%;
}
.sales-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* ============================== */
/* .invoice-modal .modal-dialog {
  max-width: 800px;  
  min-height: 600px; 
}

.invoice-modal .modal-content {
  border-radius: 15px;
  width: 500px;

}

.invoice-modal .modal-header {
  border-bottom: none;
 }

.invoice-modal .modal-title {
  color: #28a745;
  font-weight: bold;
}

.invoice-modal .modal-body {
  padding: 2rem;
      display: flex
;
    flex-direction: column;
    gap: 32px;
}

.invoice-modal .btn-primary {
  background-color: #28a745;
  border-color: #28a745;
  padding: 0.5rem 2rem;
}

 

.text-success{
  scale: 10;
  }
.text-success {
     border: .5px  var(--border-color) solid;
    border-radius: 50%;
   color: transparent !important;
     
}

 

.mesa-scss{
  scale: 1;
    font-size: 36px;
      padding-bottom: 33px;
          margin-top: 33px;

  }

 

 @media (max-width: 768px) {
  .invoice-modal .modal-dialog {
    max-width: 95%;
    min-height: 400px;
  }
  
  .invoice-modal .modal-content {
    min-height: 400px;
  }
  
  .invoice-modal .modal-title {
    font-size: 1.5rem;
  }
  
  .invoice-modal .modal-body h3 {
    font-size: 1.4rem;
  }
} */

/* Custom Check Mark Design */
.status-icon {
  position: relative;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-border {
  width: 100px;
  height: 100px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}

.check-icon {
  color: var(--background-color);
  font-size: 3.5rem;
  position: relative;
  z-index: 1;
}

.circle-border::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: var(--border-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invoice-modal .modal-content {
  border-radius: 15px;
  max-width: 500px;
  max-height: 411px;
  margin: 0 auto;

}

.invoice-modal .modal-body {
  padding: 2rem 3rem;
}

.invoice-modal .btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.invoice-modal .btn-primary:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

/* Responsive Design */
@media (max-width: 576px) {
  .invoice-modal .modal-body {
    padding: 1.5rem;
  }

  .circle-border {
    width: 80px;
    height: 80px;
  }

  .check-icon {
    font-size: 2.5rem;
  }

  .circle-border::after {
    width: 60px;
    height: 60px;
  }
}
.custom-delete-modal .modal-dialog {
  max-width: 300px;  
  width: 100%;
 }

.custom-delete-modal .modal-content {
 
   
  border-radius: 15px;
  max-width: 300px;
  margin: 0 auto; 
  height: 250px;


}
.custom-delete-modal .modl-delete{ display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 15px;
     margin-top: -24px;

}

.circl-trash{
  width: 100px;
  height: 100px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;

}

.trash-ic {
  color: var(--background-color);
  font-size: 3.5rem;
  position: relative;
  z-index: 1;
}

.circl-trash::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: var(--border-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ss{width: 55%;}
.dddd {
    display: flex
;
    justify-content: center;
    align-items: baseline;
    align-items: center;
}