.AddSupplier{
    margin: auto;
    width: 80%;
}

.input-AddSupplier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100%;
     
}
.input-addsuppler{
    width: 40%;
    padding: 20px;
}

.addclint-Button-con{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.addclint-Button{
 
    padding: 15px !important;
    

}