.TransferInvoiceBetweenStores{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    direction:  var(--translate-direction) !important;
}
.adda{
        margin-top: 40px;
 }

 .add-row-ta{
        border: 3px solid var(--border-color);
        border-radius: 20px;
        padding: 3px 15px;
        transition: .3s;
 
 }
 .add-row-ta:hover{
    background-color: var(--table-acchead);
 }
 .form-trans{
    display: flex !important;
    gap: 50px;
    justify-content: flex-end;
    direction:    var(--revtranslate-direction) !important;
 }

 .vac-custom-table{
   direction:  var(--translate-direction) !important;
    margin-bottom: 60px;
 }
 
 .transfer-ic{
    margin-right: 16px; }
 .transfer-table{
          margin-top: 30px;
    }

.ddd{
   margin-right: 150px;
}

.transform-modal .modal-dialog {
  max-width: 1200px !important;
  display: flex !important;
  justify-content: center !important;
  
}

 .transform-modal .modal-content{
  height: 750px !important;
  

}

 .transform-modal .modal-header{
  justify-content: space-between !important;
  direction: var(--translate-direction) !important;

}

 .transform-modal .modal-body{
   direction: var(--revtranslate-direction) !important;
   display: flex !important;
   flex-direction: column !important;
   overflow-y: auto !important;
   
}

.transform-modal .modal-footer{
    display: flex !important;
  justify-content: center !important;
 
}

.tranfer-table td{
   width: 150px;

}

.tranfer-table .dlete-trans{
   width: 50px;
   padding: 10px;
}
.tranfer-table .seral-trans{
    width: 7% !important;
}

