.senddesignrequest {
  width: 90%;
  margin: auto;
  text-align: center;
}

.designnrequest {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 3%;
}

.design-filesCon {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 5%;
  margin-bottom: 3%;
}

.design-files {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 50%;
  padding: 1%;
  border: 3px solid var(--border-color);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.design-labels {
  margin: unset;
}

@media (max-width: 768px) {
  .marketingdesignprojectmanagement {
    width: 100%;
  }
  .designnrequest {
    width: 90%;
  }

  .design-filesCon {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .design-files {
    justify-content: center;
    padding: 1.5%;
    gap: 5%;
    width: 40%;
  }

  .designnrequest > * {
    width: 100%;
  }

  .designnrequest .register-textbox,
  .designnrequest .register-textarea {
    width: 100%;
  }

  .marketingbutton {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .designnrequest {
    width: 100%;
    padding-top: 5%;
  }

  .design-filesCon {
    flex-direction: column;
    gap: 20px;
  }

  .design-files {
    padding: 10px;
    gap: 5%;
    width: 50%;
  }

  .designnrequest > * {
    width: 100%;
  }

  .marketingbutton {
    width: 100%;
    padding: 12px;
  }
}


.sendDesignForm {
  direction: rtl;
}