.Additem {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  margin-top: 51px;
}

.form-additem {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 200px;
  direction: var(--translate-direction) !important;
}

.form-additem-s {
  margin-top: 20px;

  gap: 200px;
  width: 70%;
  margin: auto;
}

.btn-additem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.date-addatem {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  direction: var(--translate-direction);
  width: 20%;
}

.date-addatemm {
  width: 20%;
  display: flex;
  gap: 10px;
}

.check-expiry {
  width: 108px;
}

.additem-table td {
  width: 150px;
}

.additem-table .dlete-itmm {
  width: 70px;
}
 
.table-quantity td {
  width: 180px;
}

/* .table-quantity{
  width: 80% !important;
} */

.table-quantity .quantity {
  width: 5%;
}

.table-quantity .delet-quantity {
  width: 50px;
}

.add-row {
  direction: var(--translate-direction);
  margin-bottom: 14px;
}


.AddBeneficiaryContainer {
    width: 80%;
    margin: auto;
}